@import "variables";

@mixin text-white {
  color: white;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button-style {
  padding: 10px;
  font-size: $button-font-size;
  color: white;
  background: $button-color;
  border: none;
  border-radius: 10px;
}

%rounded-image {
  border-radius: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
}

header {
  gap: 45;

  a {
    text-decoration: none;
  }
}

.loguito {
  @include center-content;

  h1 {
    font-size: $logo-font-size;
    @include text-white;
  }

  img {
    width: $logo-width;
  }
}

nav {
  text-align: center;
}

.navBar {
  list-style: none;
  gap: 20px;
  margin: 0;
  display: flex;
  padding-right: 40px;
  justify-content: center;

  li {
    padding-right: 30px;
    border-right: 1px solid $secondary-color;
    margin-right: 40px;

    a {
      @include text-white;
      font-size: 25px;
    }
  }
}

.banner {
  position: relative;

  img {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
}

button:hover {
  cursor: pointer;
}

.buttonArtist {
  @extend %button-style;
  position: absolute;
  bottom: 9rem;
}

.seeArtist {
  width: 100%;
  display: flex;
  justify-content: center;
}

.galeria {
  width: $galeria-width;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img:hover {
    transition: transform 0.3s;
    transform: scale(1.1, 1);
  }

  div {
    width: $galeria-item-width;
    padding: $galeria-item-margin;
    overflow: hidden;
    margin: $galeria-margin;

    img {
      @extend %rounded-image;
    }

    h6 {
      @include text-white;
      font-size: 20px;
    }
  }
}

.galeriaArtista {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img:hover {
    transition: transform 0.3s;
    transform: scale(1.1, 1);
  }
  div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: $galeria-item-margin;
    overflow: hidden;
    margin: $galeria-margin;
    gap: 1rem;
    img {
      max-width: 400px;
      width: 100%;
    }

    h6 {
      @include text-white;
      font-size: 20px;
    }
  }
  div:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    border-radius: 10px !important;
  }
}

.galeriaAlbumes {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    width: $galeria-item-width;
    padding: $galeria-item-margin;
    overflow: hidden;
    margin: $galeria-margin;

    img {
      @extend %rounded-image;
    }

    h6 {
      @include text-white;
      font-size: 20px;
    }
  }
}

footer {
  background-color: $footer-bg-color;
  padding-top: 32px;
  text-align: center;

  div {
    display: inline-block;
    margin: 5px 10px;

    h5 {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  section {
    padding-bottom: 30px;
  }
}

.redes {
  margin-right: 200px;

  img {
    width: 50px;
    height: 50px;
  }
}

.artists {
  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 18px;
      margin: 5px 0;
    }
  }
}

.autor {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  width: 100%;
  margin: 0;
}

.chirimbol0 {
  position: fixed;
  bottom: 20px;
  right: 20px;

  img {
    background-color: rgb(161, 0, 167);
    width: $chirimbol0-size;
    @extend %rounded-image;
    padding: 5px;
  }
}

.txtArtist {
  font-size: 4rem;
  position: absolute;
  bottom: 7rem;
  @include text-white;
  padding: 2rem;
}

.bannerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;

  .txtInfo {
    @include text-white;
    font-size: 3rem;
  }

  img {
    width: 150px;
  }
}

.subtitulo {
  @include text-white;
  max-width: 800px;
  margin: 0 auto;
}

.form {
  @include text-white;

  .containerInput {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      font-size: 1.25rem;
    }

    input,
    textarea {
      background: rgb(192, 172, 192);
      border: 1px solid purple;
      width: 300px;
      min-height: 30px;
    }

    textarea {
      height: 200px;
    }
  }
}

.containerButton {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;

  button {
    width: 100px;
    font-size: 1.25rem;
    border: none;
    background-color: purple;
    padding: 5px;
    @include text-white;
  }
}

.containerInput {
  display: flex;
}

@media (max-width: $breakpoint-large) {
  .galeria {
    width: 100%;
  }
}

@media (max-width: $breakpoint-medium) {
  .navBar {
    flex-direction: column;
    padding: 0;

    li {
      padding-right: 0px;
      border-right: none;
      margin-right: 0px;
    }
  }

  .galeria div {
    width: 11.25rem;
    margin: 0.75rem;

    img {
      width: 10rem;
    }

    h6 {
      font-size: 0.75rem;
    }
  }

  .loguito img {
    width: 9.375rem;
  }

  .loguito h1 {
    font-size: 5rem;
  }

  .buttonArtist {
    bottom: 5rem;
    font-size: 1rem;
  }

  .txtArtist {
    bottom: 3rem;
    font-size: 2rem;
  }

  footer section {
    display: flex;
    flex-direction: column;
  }

  .redes {
    margin: 0;

    img {
      margin: 1rem 2rem;
    }
  }

  .artists ul li {
    margin: 1rem 2rem;
  }

  .chirimbol0 img {
    width: 6rem;
  }

  .galeriaAlbumes div {
    width: 150px;
    margin: 10px;

    img {
      width: 150px;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .loguito img {
    width: 6.25rem;
  }

  .loguito h1 {
    font-size: 2rem;
  }

  .navBar li a {
    font-size: 1rem;
  }

  .buttonArtist {
    bottom: 1rem;
    font-size: 1rem;
  }

  .txtArtist {
    bottom: 0rem;
    font-size: 2rem;
    padding: 1rem;
  }

  .redes img {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .artists ul li {
    margin: 1rem;
  }

  .autor {
    font-size: 1rem;
  }

  .chirimbol0 img {
    width: 5rem;
  }

  .bannerInfo {
    gap: 1rem;
    margin: 1rem 0;
  }
  .galeriaArtista {
    flex-direction: column;
    div {
      flex-direction: column;
      max-width: 370px;
    }
  }
  .txtInfo {
    font-size: 2rem;
  }

  .bannerInfo img {
    width: 50px;
  }
}

a {
  cursor: pointer;
  text-decoration: auto;
}
