$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(206, 17, 223);
$button-color: #7e1b9bc2;
$footer-bg-color: gray;


$logo-width: 200px;
$logo-font-size: 100px;
$button-font-size: 20px;
$galeria-width: 1415px;
$galeria-item-width: 400px;
$galeria-margin: 30px;
$galeria-item-margin: 20px;
$chirimbol0-size: 100px;


$breakpoint-large: 1400px;
$breakpoint-medium: 768px;
$breakpoint-small: 375px;




